# ===============================
# Dépendances
# ===============================
node_modules/

# ===============================
# Builds
# ===============================
build/
dist/

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ===============================
# Environnement
# ===============================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editeurs
# ===============================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ===============================
# Cache
# ===============================
.cache/
.eslintcache

# ===============================
# Tests
# ===============================
coverage/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# CRA spécifiques
# ===============================
.npmrc
