.page-title-container {
  margin-bottom: 30px;
  margin-left: 130px;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  color: #08143d;
  margin: 0;
}

.page-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-top: 4px;
}


